<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - dream </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand mx-0 p-0" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto alert-link">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="../Home/Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="../Home/About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="../Home/Contact">Contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="../User/HowToPlay">HowToPlay</a>
                </li>


            </ul>


            <ul class="navbar-nav ">
                <li class="bg-primary dropdown float-lg-right ">
                    <a class="nav-link dropdown-toggle img-fluid" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/Content/images/child_boy-512.png" class="rounded-circle" width="50" height="50" >
                    </a>
                    <div class="dropdown-menu border-danger" style="margin-left:-100px;width:50px;" aria-labelledby="navbarDropdown">
                        

                            <a class="dropdown-item text-dark " href="../User/MyContest">My Contests</a>
                            <a class="dropdown-item text-dark " href="../User/MyAccount">My Account</a>
                            <div class="dropdown-divider text-dark"></div>
                            <a class="dropdown-item text-dark" href="../User/Verification">Verification</a>
                            <a class="dropdown-item text-dark" href="../User/ChangePassword">Change Password</a>
                            <a class="dropdown-item text-dark" href="#">LogOut</a>
                        
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-header">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="row">
        @RenderBody()
    </div>
    <div class="container-fluid body-content navbar-fixed-bottom">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
            <footer class="fixed-bottom bg-primary">
                <p class="float-left text-white m-2 ">
                    Copy Right 2018 All reserved
                    Dream 11
                    <a href="../User/PrivacyandPolicy" class="text-dark">Privacy And Policy</a>
                </p>

                <p class="m-0 float-right text-white m-2">Presented By :<a href="http://codelovertechnology.com/" class="text-dark" target="_blank"> CodeLover Technology</a></p>

            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
