<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand mx-0 p-0" href="#">Dream 11</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto alert-link">
                <li class="nav-item active">
                    <a class="nav-link" href="../Home/Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Home/About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Home/Contact">Contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">HowToPlay</a>
                </li>
                </ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="../Home/Registration">Registration</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../Home/Login">Login</a>
                </li>
            </ul>
            
              
          
                
           

            
            
        </div>
    </nav>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-header">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="row">
        @RenderBody()
    </div>
    <div class="container body-content navbar-fixed-bottom">
        <div class="col-lg-6">
            <footer class="fixed-bottom bg-success">
                <p class="float-left text-white m-2 ">
                    Copy Right 2018 All reserved
                    Dream 11
                    <a href="#" class="text-dark">&Privacy And Policy</a>
                </p>

                <p class="m-0 float-right text-white m-2">Presented By :<a href="http://codelovertechnology.com/"  class="text-dark"target="_blank"> CodeLover Technology</a></p>

            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
